test*
.bpipe
l[0-9]*
*.swp
*.tar.bz2
*.vcf
*.bam
*.bai
*.idx
*.txt
vt*
snpEff*
GenomeAnalysisTK.jar
resources
picard
htsjdk
vcftools*
compare*
bpipe*
bcftools*
samtools*
bwa
htslib*
aln.bam
aln.bam.bai
aln.bcf
aln.sam
